.logo-links{
    margin-left: 45%;
    margin-top: -63px;   
}
.icons-top{
    margin-left: 90%;
    margin-top:-20px;
}
.header-words{
    margin-left: 28%;
    font-size: 60px;
}
.header-words-center{
      margin-left:28%;
      font-size:60px;
}
.small-header{
    margin-left:36%; 
    font-size:14px;
}
.small-header-center{
    margin-left: 36%;
    font-size: 14px;
}
.button-black{
    position: absolute;
    font-size: 12px;
     color:white;
    margin-left: 46%;
    margin-top: 20px;
}
.btn-text{
    background: black;
    padding: 10px;
}
.second-section-words{
    margin-left: 10%;
    font-size: 15px;
    margin-top: 100px;
}
.second-section-next-words{
    margin-left: 10%;
    font-size: 15px;
    margin-top: 100px;
}
.second-section-other-words{
    margin-left: 10%;
    font-size: 15px;
    margin-top: 100spx;
}
